@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo ao Sistema</h1>
    <p>Desenvolver sistema para controlar Estoque de passageiro  </p>
</div>
