@{
    ViewData["Title"] = "Cadastrar Passageiro";
}

<div class="text-center">
    <h2 class="display-4">Cadastrar Pasageiro</h2>
</div>

<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" placeholder="Digite o Nome">
  </div>
  <div class="form-group">
    <label for="e-mail">E-mail</label>
    <input type="text" class="form-control" placeholder="Digite o Email">
  </div>
  <div class="form-group">
    <label for="cpf">Cpf</label>
    <input type="text" class="form-control" placeholder="Digite o Cpf">
  </div>
  <div class="form-group">
    <label for="numeroPoltrona">Numero da Poltrona</label>
    <input type="text" class="form-control" placeholder="Digite o numero da Poltrona">
  </div>
  <div class="form-group">
    <label for="compania">Compania</label>
    <input type="text" class="form-control" placeholder="Digite a Compania">
  </div>
  <div class="form-group">
    <label for="origem">Origem</label>
    <input type="text" class="form-control" placeholder="Digite a Origem">
  </div>
  <div class="form-group">
    <label for="origem">Destino</label>
    <input type="text" class="form-control" placeholder="Digite o Destino">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>