@{
    ViewData["Title"] = "Consultar Passageiro";
}

<div class="text-center">
    <h2 class="display-4">Consultar Pasageiro</h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Cpf</th>
      <th scope="col">Numwero da Poltrona</th>
      <th scope="col">Compania</th>
      <th scope="col">Origem</th>
      <th scope="col">Destino</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>mark@uol.com</td>
      <td>1234567890</td>
      <td>1A</td>
      <td>Gol Linhas Aerias</td>
      <td>Rio de Janeiro</td>
      <td>Aracaju</td>
      <td>
          <a role="button" class="btn btn-primary">Editar</a>
          <a role="button" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>jacob@uol.com.br</td>
      <td>0987654321</td>
      <td>2C</td>
      <td>Azul</td>
      <td>Salvador</td>
      <td>Basilia</td>
      <td>
          <a role="button" class="btn btn-primary">Editar</a>
          <a role="button" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>larry@terra.com.br</td>
      <td>6785432109</td>
      <td>3F</td>
      <td>Latam</td>
      <td>Curitiba</td>
      <td>Salvador</td>
      <td>
          <a role="button" class="btn btn-primary">Editar</a>
          <a role="button" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
  </tbody>
</table>